@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  border: 3px solid magenta;
  min-height: 100vh;
  width: 100%;
}

/*Main Page Layout:*/

.header-main {
  border: 3px solid red;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#page-body-main {
  min-height: 100%;
  width: 100vw;
  border: 3px solid yellow;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-main {
  border: 3px solid lime;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


